ACTION=="add", \
SUBSYSTEM=="input", \
ENV{ID_BUS}="usb", \
ENV{ID_INPUT_KEYBOARD}="1", \
ENV{ID_VENDOR_ID}!="046d", \
RUN+="/home/blfs/Little_Pinguin/ex04/insert.sh"

ACTION=="remove", \
SUBSYSTEM=="input", \
ENV{ID_BUS}="usb", \
ENV{ID_INPUT_KEYBOARD}="1", \
ENV{ID_VENDOR_ID}!="046d", \
RUN+="/home/blfs/Little_Pinguin/ex04/remove.sh"
